.container {
  touch-action: none;
  -ms-touch-action: none;
}

.container .dragging {
  pointer-events: none;
  touch-action: none;
  -ms-touch-action: none;
  cursor: grabbing;
}

.container .card {
  cursor: grab;
  /* default value auto, none: can not be selected  */
  user-select: none;
  overflow: hidden;
}

.container .card .img {
  /* default value auto, none: pointer will not change to pointer or grab  */
  pointer-events: none;
}

.grabbing * {
  cursor: move !important;
  /* fallback: no `url()` support or images disabled */
  cursor: -webkit-grabbing !important;
  /* Chrome 1-21, Safari 4+ */
  cursor: -moz-grabbing !important;
  /* Firefox 1.5-26 */
  cursor: grabbing !important;
  /* W3C standards syntax, should come least */
}